<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.wangxuxin.studyhelper">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".math.SelectActivity"
            android:label="选择关卡" />
        <activity
            android:name=".math.LevelActivity"
            android:label="计算" />
        <activity
            android:name=".help.AboutActivity"
            android:label="关于" />
        <activity
            android:name=".math.FormulaActivity"
            android:label="@string/title_activity_formula"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.github.wangxuxin.studyhelper.MainActivity" />
        </activity>
        <activity
            android:name=".english.WordActivity"
            android:label="@string/title_activity_word"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.github.wangxuxin.studyhelper.MainActivity" />
        </activity>
    </application>

</manifest>